@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@112.5,800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opensans', sans-serif;

}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    background: black;
    justify-content: space-between;
    align-items: flex-end;
    
}

.logo{
    color:white;
    font-size: 3em;
    text-align: justify;
}
.logo span{
    color: blueviolet;
}

.nav1 a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    margin: 0px 20px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.nav1 a:hover, .nav1 a:active{
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
} 

.home{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.content{
    width: 50%;
    margin: auto;
    text-align: left;
    transform: translateY(20vh);
    float: left;
}

.content h1{
    font-size: 70px;
}

.content h2{
    font-size: 60px;
    line-height: 1.3;
}

.content h2 span{
    color: blueviolet;
}

.content p{
    font-size: 18px;
    margin: 25px 0 30px;
    line-height: 1.3;
    padding-bottom: 6px;
}

.content a{
    padding: 15px 28px;
    background: green;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.content a:hover{
    background: transparent;
    color: black;
    border: 2px solid;
}

.image{
    width: 50%;
    float: right;
}

.image img{
    width: 450px;
    border-radius: 50%;
}

.skills{
    background-color:burlywood;
}

.skill-content{
    
    justify-content: center; 
    align-items: center;
    padding: 3% 6%;
    gap: 10em;
}

.skill-content legend{
    color: rgb(26, 26, 175);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}
.skill-content fieldset{
    
    display: flex;
    flex-direction: column;
    margin-left: 250px;
   margin-top: 100px;
   margin-right: 10%;
}

.pro-intern{
    background: blanchedalmond;
}

.projects{
    justify-content: center;
    align-items: center;
    padding: 3% 6%;
    gap: 10em;
}
.projects h2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkcyan;
    line-height: 1.3;
    border-bottom: 4px solid darkcyan;
}

.projects h3{
    font-weight: 500;
    font-size: 40px;
}

.projects p{
    font-size: 18px;
    margin: 25px 0 30px;
    line-height: 1.3;
    padding-bottom: 6px;
}

.intern{
    justify-content: center;
    align-items: center;
    padding: 1% 8%;
    gap: 5em;
}
.intern h2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    line-height: 1.5;
    border-bottom: 4px solid brown;
}

.intern h3{
    font-weight: 500;
    font-size: 40px;
}

.intern p{
    font-size: 18px;
    margin: 25px 0 30px;
    line-height: 1.3;
    padding-bottom: 6px;
}

.contact{
    width: 50%;
    justify-content: center;
    padding: 5%;
    float: left;
}

.contact-details h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
}
.contact-details span{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-details.list-group{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
}